<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ACT.md</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>

<h1>ACT.md System Status</h1>

{{{body}}}

<div class="footer">
    &copy; 2014 Accountable Care Transactions, Inc.
</div>

</body>
</html>